<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Styles/About.css" />
    <link rel="stylesheet" href="../Styles/landingPage.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>About</title>
  </head>
  <body>
    <header id="main-header">
      <div class="header-backdrop">
        <div class="header-container">
          <div class="header-logo-area">
            <a href="index.html" class="header-logo-link">
              <!-- <span class="header-logo"> -->
              <img
                src="../images/logo/Green Logo SahaminPuh.svg"
                alt="logo sahaminpuh"
              />
              <!-- </span> -->
              <span class="header-text">
                <h2>SahamInpuh</h2>
              </span>
            </a>
          </div>
          <div class="header-middle-area">
            <nav class="menu-area">
              <ul class="header-menu">
                <li><a href="news.html">News</a></li>
                <li><a href="saham.html">SahamInfo</a></li>
                <li><a href="kalkulator.html">Kalkulator</a></li>
                <li><a href="about.html">About</a></li>
              </ul>
            </nav>
          </div>
          <div class="header-button-area">
            <div id="nav-list-button" class="nav-list-button">
              <i class="fa fa-bars" style="font-size: 24px"></i>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="main-page">
        <h1>Lorem ipsum dolor</h1>
        <p>Iure eveniet dolor autem impedit. Quia soluta</p>
      </div>
      <div class="main-container">
        <h3>Look like investore</h3>
        <h2>Lorem ipsum dolor, sit amet consectetur</h2>
        <div class="about-page">
          <div class="text-page">
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure
              eveniet dolor autem impedit. Quia soluta error quas eligendi
              eaque? Deserunt cumque nulla deleniti quam. Voluptates laboriosam
              fuga deserunt corporis sint. Lorem ipsum dolor sit, amet
              consectetur adipisicing elit. Exercitationem officiis vel
              cupiditate unde explicabo fugit, nostrum dolorum facilis illo
              similique quis neque laborum, fugiat dignissimos ipsum delectus
              debitis. Voluptatibus, cupiditate. Lorem ipsum dolor sit amet
              consectetur adipisicing
            </p>
            <img class="img-page" src="../images/about.jpg" alt="" />
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-container">
        <div class="features-container">
          <h3>Social Media</h3>
        </div>
        <div class="copyright-container">
          <p>&copy 2024 SahamInpuh.</p>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="../script/script.js"></script>
  </body>
</html>
