<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Styles/About.css" />
    <link rel="stylesheet" href="../Styles/about.css" />
    <link rel="stylesheet" href="../Styles/navbar-responsive-use.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>About</title>
  </head>
  <body>
    <header id="main-header">
      <div class="header-backdrop">
        <div class="header-container">
          <div class="header-logo-area">
            <a href="index.html" class="header-logo-link">
              <!-- <span class="header-logo"> -->
              <img
                src="../images/logo/Green Logo SahaminPuh.svg"
                alt="logo sahaminpuh" />
              <!-- </span> -->
              <span class="header-text">
                <h2>SahamInpuh</h2>
              </span>
            </a>
          </div>
          <div class="header-middle-area">
            <nav class="menu-area">
              <ul class="header-menu">
                <li><a href="news.html">News</a></li>
                <li><a href="saham.html">SahamInfo</a></li>
                <li><a href="kalkulator.html">Kalkulator</a></li>
                <li><a href="about.html">About</a></li>
              </ul>
            </nav>
          </div>
          <div class="header-button-area">
            <div id="nav-list-button" class="nav-list-button">
              <i class="fa fa-bars" style="font-size: 24px"></i>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="main-page">
        <h1>Take small steps towards something big.</h1>
        <p>Iure eveniet dolor autem impedit. Quia soluta</p>
      </div>
      <div class="main-container">
        <h1>Look like investor</h1>
        <div class="about-page">
          <div class="text-page">
            <h2>About Us</h2>
            <p>
              Welcome to SahamInpuh, the leading source for reliable stock
              recommendations and in-depth market analysis. We are dedicated to
              providing accurate, trustworthy, and up-to-date investment
              information to savvy investors.
            </p>
            <h2>Our Mission</h2>
            <p>
              Our mission is to provide comprehensive investment guidance to
              investors, whether they are just starting out or seasoned
              professionals. We aim to offer valuable insights, enabling
              investors to make informed and intelligent investment decisions.
            </p>
            <h2>Our Team</h2>
            <p>
              Our team consists of professionals with extensive experience in
              finance and investment. They have in-depth knowledge of the stock
              market and a commitment to providing the best service to our
              customers.
            </p>
          </div>
          <img class="img-page" src="../images/about.jpg" alt="" />
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-container">
        <div class="features-container">
          <h3>Social Media</h3>
        </div>
        <div class="copyright-container">
          <p>&copy 2024 SahamInpuh.</p>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="../Scripts/script.js"></script>
  </body>
</html>
