<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SahaminPuh</title>
</head>
<body>
    <header>
        <div class="header-container">
            <h2>SahamInpuh</h2>
            <ul>
                <li>News</li>
                <li>SahamInfo</li>
                <li>Kalkulator</li>
                <li>About</li>
                <li>Contact Us</li>
            </ul>
        </div>
    </header>
    <main>
        <div class="main-container">
            <div class="main-page">
                <h1>
                    <p>The best recomendation for your stock list</p>
                </h1>
            </div>
            <div class="market-container">
                <h2>Stock Markets</h2>
                <div class="market">
                    <span>IHSG</span>
                </div>
            </div>
            <div class="news-container">
                <h2>News</h2>
                <div class="News">
                    <a href="#">
                        <article class="berita">
                            <img src="../images/headline apple.jpeg" alt="Gambar Berita" style="width: 100px;">
                            <p class="upload-count">2 days ago</p>
                            <p>AAPL: Apple Stock Wipes Out Over $100 Billion in Value After US Files iPhone Monopoly Lawsuit</p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="berita">
                            <img src="../images/headline apple.jpeg" alt="Gambar Berita" style="width: 100px;">
                            <p class="upload-count">2 days ago</p>
                            <p>AAPL: Apple Stock Wipes Out Over $100 Billion in Value After US Files iPhone Monopoly Lawsuit</p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="berita">
                            <img src="../images/headline apple.jpeg" alt="Gambar Berita" style="width: 100px;">
                            <p class="upload-count">2 days ago</p>
                            <p>AAPL: Apple Stock Wipes Out Over $100 Billion in Value After US Files iPhone Monopoly Lawsuit</p>
                        </article>
                    </a>
                    <a href="#">
                        <article class="berita">
                            <img src="../images/headline apple.jpeg" alt="Gambar Berita" style="width: 100px;">
                            <p class="upload-count">2 days ago</p>
                            <p>AAPL: Apple Stock Wipes Out Over $100 Billion in Value After US Files iPhone Monopoly Lawsuit</p>
                        </article>
                    </a>
                </div>
            </div>
            <div class="kalkulator container">
                <h2>Kalkulator</h2>
                <div class="kalkulator">
                    <div class="margin-of-safety">
                        <!-- preview feature -->
                        <div class="preview">
                            <img src="" alt="">
                        </div>
                        <!-- description feature -->
                        <div class="deskripsi">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repudiandae a, cum molestias autem sapiente eaque laudantium illum inventore iste, neque tempore libero quia et ipsa aliquam? Magni, commodi unde.</p>
                        </div>
                        <!-- CTA button -->
                        <div class="cta-btn">
                            <button>Let's Try!</button>
                        </div>
                    </div>
                    <div class="average-saham">
                        <!-- preview feature -->
                        <div class="preview">
                            <img src="" alt="">
                        </div>
                        <!-- description feature -->
                        <div class="deskripsi">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repudiandae a, cum molestias autem sapiente eaque laudantium illum inventore iste, neque tempore libero quia et ipsa aliquam? Magni, commodi unde.</p>
                        </div>
                        <!-- CTA button -->
                        <div class="cta-btn">
                            <button>Let's Try!</button>
                        </div>
                    </div>
                    <div class="harga-wajar-saham">
                        <!-- preview feature -->
                        <div class="preview">
                            <img src="" alt="">
                        </div>
                        <!-- description feature -->
                        <div class="deskripsi">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repudiandae a, cum molestias autem sapiente eaque laudantium illum inventore iste, neque tempore libero quia et ipsa aliquam? Magni, commodi unde.</p>
                        </div>
                        <!-- CTA button -->
                        <div class="cta-btn">
                            <button>Let's Try!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="features-container">
            <h3>Social Media</h3>

        </div>
        <div class="copyright-container">
            <p>&copy 2024 SahamInpuh.</p>
        </div>
    </footer>
</body>
</html>