<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SahaminPuh</title>
    <link rel="stylesheet" href="../Styles/main.css">
    <script type="text/javascript" src="../Scripts/script.js"></script>
</head>
<body>
    <header id="main-header">
        <div class="header-backdrop"></div>
        <div class="header-container">
            <div class="header-logo-area">
                <a href="#" class="header-logo-link">
                    <!-- <span class="header-logo"> -->
                        <img src="../images/logo/Green Logo SahaminPuh.svg" alt="logo sahaminpuh">
                    <!-- </span> -->
                    <span class="header-text">
                        <h2>SahamInpuh</h2>
                    </span>
                </a>
            </div>
            <div class="header-middle-area">
                <nav class="menu-area">
                    <ul class="header-menu">
                        <li><a href="#">News</a></li>
                        <li><a href="#">SahamInfo</a></li>
                        <li><a href="#">Kalkulator</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-user-area">
                <a href="#" class="dark-mode">
                    <img src="../images/icons/moon-stars-fill.svg" alt="">
                </a>
            </div>
        </div>
    </header>
    <main id="main-content">
        <div class="main-container">
            <div class="main-page">
                <div class="bg-main-page">
                    <!-- <img src="../images/bg/bg3 sahaminpuh.png" alt="bg main page"> -->
                </div>
                <h1>
                    <p>The best recomendation for your stock list</p>
                </h1>
            </div>
            <div class="market-container">
                <div class="market-link-container">
                    <a href="#">
                        <h2>Stock 
                            <span>Markets
                                <span>
                                    <img src="../images/icons/caret-right-fill.svg" alt="">
                                </span>
                            </span>
                        </h2>
                    </a>
                </div>
                <div class="market">
                    <span>IHSG</span>
                </div>
            </div>
            <div class="news-container">
                <div class="news-link-container">
                    <a href="">
                        <h2>News
                            <span>
                                <img src="../images/icons/caret-right-fill.svg" alt="">
                            </span>
                        </h2>
                    </a>
                </div>
                <div class="news">
                    <a href="#">
                        <article class="berita">
                            <img src="../images/headline news/headline apple.jpeg" alt="Gambar Berita" style="width: 100px;">
                            <div class="detail-berita">
                                <p class="tanggal-berita">24 Maret 2024</p>
                                <p>AAPL: Apple Stock Wipes Out Over $100 Billion in Value After US Files iPhone Monopoly Lawsuit</p>
                                <!-- <a href="#" class="read-more-btn">Read More!</a> -->
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article class="berita">
                            <img src="../images/headline news/headline apple.jpeg" alt="Gambar Berita" style="width: 100px;">
                            <div class="detail-berita">
                                <p class="tanggal-berita">24 Maret 2024</p>
                                <p>AAPL: Apple Stock Wipes Out Over $100 Billion in Value After US Files iPhone Monopoly Lawsuit</p>
                                <!-- <a href="#" class="read-more-btn">Read More!</a> -->
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article class="berita">
                            <img src="../images/headline news/headline apple.jpeg" alt="Gambar Berita" style="width: 100px;">
                            <div class="detail-berita">
                                <p class="tanggal-berita">24 Maret 2024</p>
                                <p>AAPL: Apple Stock Wipes Out Over $100 Billion in Value After US Files iPhone Monopoly Lawsuit</p>
                                <!-- <a href="#" class="read-more-btn">Read More!</a> -->
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article class="berita">
                            <img src="../images/headline news/headline apple.jpeg" alt="Gambar Berita" style="width: 100px;">
                            <div class="detail-berita">
                                <p class="tanggal-berita">24 Maret 2024</p>
                                <p>AAPL: Apple Stock Wipes Out Over $100 Billion in Value After US Files iPhone Monopoly Lawsuit</p>
                                <!-- <a href="#" class="read-more-btn">Read More!</a> -->
                            </div>
                        </article>
                    </a>
                    <a href="#">
                        <article class="berita">
                            <img src="../images/headline news/headline apple.jpeg" alt="Gambar Berita" style="width: 100px;">
                            <div class="detail-berita">
                                <p class="tanggal-berita">24 Maret 2024</p>
                                <p>AAPL: Apple Stock Wipes Out Over $100 Billion in Value After US Files iPhone Monopoly Lawsuit</p>
                                <!-- <a href="#" class="read-more-btn">Read More!</a> -->
                            </div>
                        </article>
                    </a>
                </div>
            </div>
            <div class="kalkulator-container">
                <div class="kalkulator-link-container">
                    <a href="#">
                        <h2>Kalkulator
                            <span>
                                <img src="../images/icons/caret-right-fill.svg" alt="">
                            </span>
                        </h2>
                    </a>
                </div>
                <div class="kalkulator">
                    <div class="margin-of-safety card-kalkulator">
                        <!-- preview feature -->
                        <div class="preview">
                            <img src="../images/bg/bg1 sahaminpuh.jpeg" alt="">
                        </div>
                        <!-- description feature -->
                        <div class="deskripsi">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repudiandae a, cum molestias autem sapiente eaque laudantium illum inventore iste, neque tempore libero quia et ipsa aliquam? Magni, commodi unde.</p>
                        </div>
                        <!-- CTA button -->
                        <div class="cta-btn">
                            <button>Let's Try!</button>
                        </div>
                    </div>
                    <div class="average-saham card-kalkulator">
                        <!-- preview feature -->
                        <div class="preview">
                            <img src="../images/bg/bg1 sahaminpuh.jpeg" alt="">
                        </div>
                        <!-- description feature -->
                        <div class="deskripsi">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repudiandae a, cum molestias autem sapiente eaque laudantium illum inventore iste, neque tempore libero quia et ipsa aliquam? Magni, commodi unde.</p>
                        </div>
                        <!-- CTA button -->
                        <div class="cta-btn">
                            <button>Let's Try!</button>
                        </div>
                    </div>
                    <div class="harga-wajar-saham card-kalkulator">
                        <!-- preview feature -->
                        <div class="preview">
                            <img src="../images/bg/bg1 sahaminpuh.jpeg" alt="">
                        </div>
                        <!-- description feature -->
                        <div class="deskripsi">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo repudiandae a, cum molestias autem sapiente eaque laudantium illum inventore iste, neque tempore libero quia et ipsa aliquam? Magni, commodi unde.</p>
                        </div>
                        <!-- CTA button -->
                        <div class="cta-btn">
                            <button>Let's Try!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="features-container">
                <h3>Social Media</h3>
            </div>
            <div class="copyright-container">
                <p>&copy 2024 SahamInpuh.</p>
            </div>
        </div>
    </footer>
</body>
</html>