<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SahaminPuh</title>
    <link rel="stylesheet" href="/Styles/landingPage.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header id="main-header">
      <div class="header-backdrop">
        <div class="header-container">
          <div class="header-logo-area">
            <a href="index.html" class="header-logo-link">
              <!-- <span class="header-logo"> -->
              <img
                src="../images/logo/Green Logo SahaminPuh.svg"
                alt="logo sahaminpuh"
              />
              <!-- </span> -->
              <span class="header-text">
                <h2>SahamInpuh</h2>
              </span>
            </a>
          </div>
          <div class="header-middle-area">
            <nav class="menu-area">
              <ul class="header-menu">
                <li><a href="news.html">News</a></li>
                <li><a href="saham.html">SahamInfo</a></li>
                <li><a href="kalkulator.html">Kalkulator</a></li>
                <li><a href="about.html">About</a></li>
              </ul>
            </nav>
          </div>
          <div class="header-button-area">
            <div id="nav-list-button" class="nav-list-button">
              <i class="fa fa-bars" style="font-size: 24px"></i>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main id="main-content">
      <div class="main-container">
        <div class="main-page">
          <h1>Try It and Get Hooked</h1>
          <p>The best recomendation for your stock list</p>
        </div>
        <div class="market-container">
          <div class="market-link-container">
            <div class="market-link">
              <a href="saham.html">
                <h2>
                  SahamInfo
                  <span>
                    <span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-caret-right-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                        />
                      </svg>
                    </span>
                  </span>
                </h2>
              </a>
            </div>
          </div>
          <div class="market">
            <div class="stock-list-container">
              <div class="offset-zone"></div>
              <div class="stock-list">
                <div class="stock">
                  <div class="stock-content">
                    <span class="logo">
                      <img src="/images/logo/logo-bbca.png" alt="" />
                    </span>
                    <div class="value">
                      <div class="name">
                        <a href="saham.html"
                          ><span class="stock-name">BBCA</span></a
                        >
                      </div>
                      <div class="harga">
                        <span class="harga">14,975</span>
                        <span class="mata-uang">IDR</span>
                        <span class="return">+6.53</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="stock">
                  <div class="stock-content">
                    <span class="logo">
                      <img src="/images/logo/logo-bbri.png" alt="" />
                    </span>
                    <div class="value">
                      <div class="name">
                        <a href="saham.html"
                          ><span class="stock-name">BBRI</span></a
                        >
                      </div>
                      <div class="harga">
                        <span class="harga">14,975</span>
                        <span class="mata-uang">IDR</span>
                        <span class="return"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="stock">
                  <div class="stock-content">
                    <span class="logo">
                      <img src="/images/logo/logo-arto.png" alt="" />
                    </span>
                    <div class="value">
                      <div class="name">
                        <a href="saham.html"
                          ><span class="stock-name">ARTO</span></a
                        >
                      </div>
                      <div class="harga">
                        <span class="harga">14,975</span>
                        <span class="mata-uang">IDR</span>
                        <span class="return"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="stock">
                  <div class="stock-content">
                    <span class="logo">
                      <img src="/images/logo/logo-bmri.png" alt="" />
                    </span>
                    <div class="value">
                      <div class="name">
                        <a href="saham.html"
                          ><span class="stock-name">BMRI</span></a
                        >
                      </div>
                      <div class="harga">
                        <span class="harga">14,975</span>
                        <span class="mata-uang">IDR</span>
                        <span class="return"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="stock">
                  <div class="stock-content">
                    <span class="logo">
                      <img src="/images/logo/logo-asii.png" alt="" />
                    </span>
                    <div class="value">
                      <div class="name">
                        <a href="saham.html"
                          ><span class="stock-name">ASII</span></a
                        >
                      </div>
                      <div class="harga">
                        <span class="harga">14,975</span>
                        <span class="mata-uang">IDR</span>
                        <span class="return"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="stock">
                  <div class="stock-content">
                    <span class="logo">
                      <img src="/images/logo/logo-adro.png" alt="" />
                    </span>
                    <div class="value">
                      <div class="name">
                        <a href="saham.html"
                          ><span class="stock-name">ADRO</span></a
                        >
                      </div>
                      <div class="harga">
                        <span class="harga">14,975</span>
                        <span class="mata-uang">IDR</span>
                        <span class="return"></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="stock">
                  <div class="stock-content">
                    <span class="logo">
                      <img src="/images/logo/logo-goto.png" alt="" />
                    </span>
                    <div class="value">
                      <div class="name">
                        <a href="saham.html"
                          ><span class="stock-name">GOTO</span></a
                        >
                      </div>
                      <div class="harga">
                        <span class="harga">14,975</span>
                        <span class="mata-uang">IDR</span>
                        <span class="return"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="chart-container">
              <!-- TradingView Widget BEGIN -->
              <div
              class="tradingview-widget-container"
              style="height: 100%; width: 100%"
            >
              <div
                class="tradingview-widget-container__widget"
                style="height: calc(100% - 32px); width: 100%"
              ></div>

              <script
                type="text/javascript"
                src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js"
                async
              >
                  {
                  "container_id": "watchlist-chart-demo",
                  "width": "100%",
                  "height": "100%",
                  "autosize": true,
                  "symbol": "IDX:COMPOSITE",
                  "interval": "D",
                  "timezone": "exchange",
                  "theme": "light",
                  "style": "1",
                  "withdateranges": true,
                  "allow_symbol_change": true,
                  "save_image": false,
                  "watchlist": [
                    "BBCA",
                    "BBRI",
                    "BBNI",
                    "BBRI",
                    "UNVR",
                    "TLKM",
                    "ASII",
                    "BMRI",
                    "CPIN",
                    "KLBF",
                    "PGAS",
                    "SMGR",
                    "UNTR",
                    "TLKM",
                    "INDF",
                    "AALI",
                    "ADHI",
                    "AKRA",
                    "ANTM",
                    "ASII",
                    "ASRI",
                    "BBNI",
                    "BBRI",
                    "BMRI",
                    "BSDE",
                    "CPIN",
                    "DOID",
                    "ELSA",
                    "ERAA",
                    "GGRM",
                    "HMSP",
                    "ICBP",
                    "INCO",
                    "INDF",
                    "INDY",
                    "INIS",
                    "INTP",
                    "ITMG",
                    "JPFA",
                    "JSMR",
                    "KLBF",
                    "LPKR",
                    "LSIP",
                    "LPPF",
                    "MEDC",
                    "MNCN",
                    "PGAS",
                    "PTBA",
                    "PTPP",
                    "PWON",
                    "ROTI",
                    "SCMA",
                    "SMGR",
                    "SRIL",
                    "TINS",
                    "TKIM",
                    "TLKM",
                    "TPIA",
                    "UNTR",
                    "UNVR",
                    "WIKA",
                    "WSBP"
                  ]
                }
              </script>
            </div>
            </div>
          </div>
        </div>
        <div class="news-container">
          <div class="news-link-container">
            <div class="news-link">
              <a href="news.html">
                <h2>
                  News
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-caret-right-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                      />
                    </svg>
                  </span>
                </h2>
              </a>
            </div>
          </div>
          <div class="news">
            <a href="news-view.html">
              <article class="berita">
                <div class="news-img-container">
                  <img
                    src="../images/headline news/headline apple.jpeg"
                    alt="Gambar Berita"
                  />
                </div>
                <div class="detail-berita">
                  <p class="tanggal-berita">3 April 2024</p>
                  <p>
                    AAPL: Apple Stock Wipes Out Over $100 Billion in Value After
                    US Files iPhone Monopoly Lawsuit
                  </p>
                  <!-- <a href="#" class="read-more-btn">Read More!</a> -->
                </div>
              </article>
            </a>
            <a href="news-view.html">
              <article class="berita">
                <div class="news-img-container">
                  <img
                    src="../images/headline news/headline 2.jpeg"
                    alt="Gambar Berita"
                  />
                </div>
                <div class="detail-berita">
                  <p class="tanggal-berita">3 April 2024</p>
                  <p>
                    TSLA: Tesla Delivers Under 390,000 EVs in First Quarter, Sliding Below Estimates
                  </p>
                  <!-- <a href="#" class="read-more-btn">Read More!</a> -->
                </div>
              </article>
            </a>
            <a href="news-view.html">
              <article class="berita">
                <div class="news-img-container">
                  <img
                    src="../images/headline news/headline 3.jpeg"
                    alt="Gambar Berita"
                  />
                </div>
                <div class="detail-berita">
                  <p class="tanggal-berita">2 April 2024</p>
                  <p>
                    EUR/USD: Euro Slow to Power Up After Three Weeks of Losses Pressure Rate Under $1.08
                  </p>
                  <!-- <a href="#" class="read-more-btn">Read More!</a> -->
                </div>
              </article>
            </a>
            <a href="news-view.html">
              <article class="berita">
                <div class="news-img-container">
                  <img
                    src="../images/headline news/headline 4.jpeg"
                    alt="Gambar Berita"
                  />
                </div>
                <div class="detail-berita">
                  <p class="tanggal-berita">1 April 2024</p>
                  <p>
                    SMCI: Super Micro Stock Crowned as Best Performer in the S&P 500 for the First Quarter
                  </p>
                  <!-- <a href="#" class="read-more-btn">Read More!</a> -->
                </div>
              </article>
            </a>
            <a href="news-view.html">
              <article class="berita">
                <div class="news-img-container">
                  <img
                    src="../images/headline news/headline 5.jpeg"
                    alt="Gambar Berita"
                  />
                </div>
                <div class="detail-berita">
                  <p class="tanggal-berita">31 Maret 2024</p>
                  <p>
                    SPX: S&P 500 Futures Kick Off April in Green After Solid 10% Gain in Bumper First Quarter
                  </p>
                  <!-- <a href="#" class="read-more-btn">Read More!</a> -->
                </div>
              </article>
            </a>
            <a href="news-view.html">
              <article class="berita">
                <div class="news-img-container">
                  <img
                    src="../images/headline news/headline 6.jpeg"
                    alt="Gambar Berita"
                  />
                </div>
                <div class="detail-berita">
                  <p class="tanggal-berita">30 Maret 2024</p>
                  <p>
                    XAU/USD: Gold Prices Blast Off to New Record Above $2,235 on Safe-Haven Buying
                  </p>
                  <!-- <a href="#" class="read-more-btn">Read More!</a> -->
                </div>
              </article>
            </a>
            <a href="news-view.html">
              <article class="berita">
                <div class="news-img-container">
                  <img
                    src="../images/headline news/headline 7.jpeg"
                    alt="Gambar Berita"
                  />
                </div>
                <div class="detail-berita">
                  <p class="tanggal-berita">29 Maret 2024</p>
                  <p>
                    TSLA: Tesla’s Shocking 30% First-Quarter Drop Wipes Out $40 Billion of Elon Musk’s Net Worth
                  </p>
                  <!-- <a href="#" class="read-more-btn">Read More!</a> -->
                </div>
              </article>
            </a>
            <a href="news-view.html">
              <article class="berita">
                <div class="news-img-container">
                  <img
                    src="../images/headline news/headline 8.jpeg"
                    alt="Gambar Berita"
                  />
                </div>
                <div class="detail-berita">
                  <p class="tanggal-berita">29 Maret 2024</p>
                  <p>
                    XAU/USD: Gold Scales Down from Record High of $2,265 as Dollar Bulls Kick Off April Deals
                  </p>
                </div>
              </article>
            </a>
          </div>
        </div>
        <div class="kalkulator-container">
          <div class="kalkulator-link-container">
            <div class="kalkulator-link">
              <a href="kalkulator.html">
                <h2>
                  Kalkulator
                  <span>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="16"
                      height="16"
                      fill="currentColor"
                      class="bi bi-caret-right-fill"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                      />
                    </svg>
                  </span>
                </h2>
              </a>
            </div>
          </div>
          <div class="kalkulator">
            <div class="calculate-profit card-kalkulator">
              <!-- preview feature -->
              <div class="preview">
                <video src="/images/bg/preview-kalkulator-sahaminpuh.mp4"
                loop muted autoplay></video>
                <!-- <img src="../images/bg/bg1 sahaminpuh.jpeg" alt="" /> -->
              </div>
              <!-- description feature -->
              <div class="deskripsi">
                <a href="kalkulator.html"><h3>Hitung Profit</h3></a>
                <p>
                  Fitur hitung profit dalam kalkulator rekomendasi saham
                  membantu Anda memperkirakan keuntungan dari pembelian saham.
                  Anda dapat memasukkan data pembelian dan penjualan saham,
                  memilih jenis kalkulasi (sederhana atau dengan pajak dan
                  inflasi), dan melihat perkiraan keuntungan, persentase
                  keuntungan, dan perkiraan keuntungan per lot. Fitur ini
                  bermanfaat untuk membuat keputusan investasi yang lebih
                  terinformasi, membandingkan berbagai pilihan investasi, dan
                  mengelola risiko investasi.
                </p>
              </div>
              <!-- CTA button -->
              <div class="cta-btn">
                <a href="kalkulator.html"><button>Let's Try!</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-container">
        <div class="features-container">
          <h3>Social Media</h3>
        </div>
        <div class="copyright-container">
          <p>&copy 2024 SahamInpuh.</p>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="../Scripts/script.js"></script>
  </body>
</html>
