<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Styles/kalkulator.css" />
    <link rel="stylesheet" href="../Styles/landingPage.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>KALKULATOR SAHAM</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <header id="main-header">
      <div class="header-backdrop">
        <div class="header-container">
          <div class="header-logo-area">
            <a href="index.html" class="header-logo-link">
              <!-- <span class="header-logo"> -->
              <img
                src="../images/logo/Green Logo SahaminPuh.svg"
                alt="logo sahaminpuh"
              />
              <!-- </span> -->
              <span class="header-text">
                <h2>SahamInpuh</h2>
              </span>
            </a>
          </div>
          <div class="header-middle-area">
            <nav class="menu-area">
              <ul class="header-menu">
                <li><a href="news.html">News</a></li>
                <li><a href="saham.html">SahamInfo</a></li>
                <li><a href="kalkulator.html">Kalkulator</a></li>
                <li><a href="about.html">About</a></li>
              </ul>
            </nav>
          </div>
          <div class="header-button-area">
            <div id="nav-list-button" class="nav-list-button">
              <i class="fa fa-bars" style="font-size: 24px"></i>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <div class="kalkulator-container">
        <div class="container">
          <h1>KALKULATOR SAHAM</h1>
          <p>Hitung profit anda di sini.</p>
          <div class="hitung-container">
            <label for="buy">HARGA BELI</label><br />
            <input
              placeholder="Harga Beli Per Lot Saham"
              type="text"
              id="buy"
              name="buy"
              pattern="[0-9]"
              required
            /><br />

            <label for="sell">HARGA JUAL</label><br />
            <input
            placeholder="Harga Jual Per Lot Saham"
              type="text"
              id="sell"
              name="sell"
              pattern="[0-9]"
              required
            /><br />

            <label for="lot">LOT</label><br />
            <input
            placeholder="Jumlah Lot yang Ingin Dijual"
              type="text"
              id="lot"
              name="lot"
              pattern="[0-9]"
              required
            /><br />

            <label for="buyCommission">KOMISI BELI (%)</label><br />
            <input
            placeholder="Komisi Beli yang Ditetapkan Sekuritas"
              type="text"
              id="buyCommission"
              name="buyCommission"
              pattern="[0-9][\.]"
              required
            /><br />

            <label for="sellCommission">KOMISI JUAL (%)</label><br />
            <input
            placeholder="Komisi Jual yang Ditetapkan Sekuritas"
              type="text"
              id="sellCommission"
              name="sellCommission"
              pattern="[0-9][\.]"
              required
            /><br />
          </div>

          <button id="result">HITUNG</button><br />
          <div class="hasil-hitung">
            <h3>Total Beli:</h3>
            <span id="totBuy">0</span>
            <h3>Total Jual:</h3>
            <span id="totSell">0</span>
            <h3>Total Untung/Rugi:</h3>
            <span id="profitLoss">0</span>
            <h3>Total Untung/Rugi (%):</h3>
            <span id="profitLossPercent">0%</span>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-container">
        <div class="features-container">
          <h3>Social Media</h3>
        </div>
        <div class="copyright-container">
          <p>&copy 2024 SahamInpuh.</p>
        </div>
      </div>
    </footer>
    <script src="../Scripts/kalkulator.js"></script>
  </body>
</html>
