<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Template</title>
    <link rel="stylesheet" href="/Styles/navbarTemplate.css">
</head>
<body>
    <header id="main-header">
        <div class="header-backdrop">
            <div class="header-container">
                <div class="header-logo-area">
                    <a href="#" class="header-logo-link">
                        <!-- <span class="header-logo"> -->
                            <img src="../images/logo/Green Logo SahaminPuh.svg" alt="logo sahaminpuh">
                        <!-- </span> -->
                        <span class="header-text">
                            <h2>SahamInpuh</h2>
                        </span>
                    </a>
                </div>
                <div class="header-middle-area">
                    <nav class="menu-area">
                        <ul class="header-menu">
                            <li><a href="#">News</a></li>
                            <li><a href="#">SahamInfo</a></li>
                            <li><a href="#">Kalkulator</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </nav>
                </div>
                <div class="header-user-area">
                    <a href="#" class="dark-mode">
                        <img src="../images/icons/moon-stars-fill.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </header>
</body>
</html>