<header id="main-header">
    <div class="header-backdrop">
        <div class="header-container">
            <div class="header-logo-area">
                <a href="landingPage.html" class="header-logo-link">
                    <!-- <span class="header-logo"> -->
                        <img src="../images/logo/Green Logo SahaminPuh.svg" alt="logo sahaminpuh">
                    <!-- </span> -->
                    <span class="header-text">
                        <h2>SahamInpuh</h2>
                    </span>
                </a>
            </div>
            <div class="header-middle-area">
                <nav class="menu-area">
                    <ul class="header-menu">
                        <li><a href="news.html">News</a></li>
                        <li><a href="#">SahamInfo</a></li>
                        <li><a href="calculator.html">Kalkulator</a></li>
                        <li><a href="about.html">About</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-button-area">
            <div class="mode">
                <a href="#" class="dark-mode">
                <img
                    src="../images/icons/moon-stars-fill.svg"
                    alt=""
                    width="24px" />
                </a>
            </div>
            <div id="nav-list-button" class="nav-list-button">
                <i class="fa fa-bars" style="font-size: 24px"></i>
            </div>
            </div>
        </div>
    </div>
</header>
