<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Styles/news.css" />
    <link rel="stylesheet" href="../Styles/landingPage.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Financial News</title>
  </head>
  <body>
    <header id="main-header">
      <div class="header-backdrop">
        <div class="header-container">
          <div class="header-logo-area">
            <a href="landingPage.html" class="header-logo-link">
              <!-- <span class="header-logo"> -->
              <img
                src="../images/logo/Green Logo SahaminPuh.svg"
                alt="logo sahaminpuh"
              />
              <!-- </span> -->
              <span class="header-text">
                <h2>SahamInpuh</h2>
              </span>
            </a>
          </div>
          <div class="header-middle-area">
            <nav class="menu-area">
              <ul class="header-menu">
                <li><a href="news.html">News</a></li>
                <li><a href="#">SahamInfo</a></li>
                <li><a href="kalkulator.html">Kalkulator</a></li>
                <li><a href="about.html">About</a></li>
              </ul>
            </nav>
          </div>
          <div class="header-button-area">
            <div class="mode">
              <a href="#" class="dark-mode">
                <img
                  src="../images/icons/moon-stars-fill.svg"
                  alt=""
                  width="24px"
                />
              </a>
            </div>
            <div id="nav-list-button" class="nav-list-button">
              <i class="fa fa-bars" style="font-size: 24px"></i>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main id="main-content">
      <div class="container-main">
        <div class="news-landing-header">
          <div class="title-container">
            <h1 class="title-news">News</h1>
            <p class="description-title">
              Don't miss a trick with global real-time updates.
            </p>
          </div>
        </div>
        <div class="top-stories">
          <div class="wrapper-title-stories">
            <div class="container-title-stories">
              <h2 class="title-top-stories">Top Stories</h2>
            </div>
          </div>
          <div>
            <div class="grid-top-stories">
              <a hrel="#" class="card-news" style="order: 1">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">24 Maret 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news"
                        />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="Lorem ipsum dolor sit amet consectetur adipisicing elit."
                    >
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                  </div>
                </article>
              </a>
              <a hrel="#" class="card-news" style="order: 2">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">24 Maret 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news"
                        />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="Lorem ipsum dolor sit amet consectetur adipisicing elit."
                    >
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                  </div>
                </article>
              </a>
              <a hrel="#" class="card-news" style="order: 3">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">24 Maret 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news"
                        />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="Lorem ipsum dolor sit amet consectetur adipisicing elit."
                    >
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                  </div>
                </article>
              </a>
              <a hrel="#" class="card-news" style="order: 4">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">24 Maret 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news"
                        />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="Lorem ipsum dolor sit amet consectetur adipisicing elit."
                    >
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                  </div>
                </article>
              </a>
              <a hrel="#" class="card-news" style="order: 5">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">24 Maret 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news"
                        />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="Lorem ipsum dolor sit amet consectetur adipisicing elit."
                    >
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                  </div>
                </article>
              </a>
              <a hrel="#" class="card-news" style="order: 6">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">24 Maret 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news"
                        />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="Lorem ipsum dolor sit amet consectetur adipisicing elit."
                    >
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                  </div>
                </article>
              </a>
              <a hrel="#" class="card-news" style="order: 7">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">24 Maret 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news"
                        />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="Lorem ipsum dolor sit amet consectetur adipisicing elit."
                    >
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                  </div>
                </article>
              </a>
              <a hrel="#" class="card-news" style="order: 8">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">24 Maret 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news"
                        />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="Lorem ipsum dolor sit amet consectetur adipisicing elit."
                    >
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                  </div>
                </article>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="../Scripts/script.js"></script>
  </body>
</html>
