<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../Styles/news-view.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header id="main-header">
      <div class="header-backdrop">
        <div class="header-container">
          <div class="header-logo-area">
            <a href="landingPage.html" class="header-logo-link">
              <!-- <span class="header-logo"> -->
              <img
                src="../images/logo/Green Logo SahaminPuh.svg"
                alt="logo sahaminpuh"
              />
              <!-- </span> -->
              <span class="header-text">
                <h2>SahamInpuh</h2>
              </span>
            </a>
          </div>
          <div class="header-middle-area">
            <nav class="menu-area">
              <ul class="header-menu">
                <li><a href="news.html">News</a></li>
                <li><a href="#">SahamInfo</a></li>
                <li><a href="kalkulator.html">Kalkulator</a></li>
                <li><a href="about.html">About</a></li>
              </ul>
            </nav>
          </div>
          <div class="header-button-area">
            <div class="mode">
              <a href="#" class="dark-mode">
                <img
                  src="../images/icons/moon-stars-fill.svg"
                  alt=""
                  width="24px"
                />
              </a>
            </div>
            <div id="nav-list-button" class="nav-list-button">
              <i class="fa fa-bars" style="font-size: 24px"></i>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="news-content">
        <div class="post-title">
          <h1><strong>Infokan Saham Terbaru Puh 🙏</strong></h1>
        </div>
        <div class="post-date">25:00, Senin, 1 April, 2024</div>
        <div class="post-body">
          <div class="news-image-container">
            <a href="#">
              <img
                src="../images/bg/bg1 sahaminpuh.jpeg"
                alt=""
                class="bordered"
              />
            </a>
          </div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim ut
            tellus elementum sagittis vitae et leo. Non nisi est sit amet
            facilisis magna. Sed risus pretium quam vulputate. Mauris rhoncus
            aenean vel elit scelerisque mauris. Fames ac turpis egestas integer.
            Sed tempus urna et pharetra pharetra massa massa ultricies mi.
            Tempus iaculis urna id volutpat lacus laoreet non curabitur. Tempus
            imperdiet nulla malesuada pellentesque elit eget gravida cum sociis.
          </p>
          <p>
            Sagittis purus sit amet volutpat. Ipsum dolor sit amet consectetur
            adipiscing elit. Eget dolor morbi non arcu risus. At augue eget arcu
            dictum varius duis at consectetur. Cras sed felis eget velit aliquet
            sagittis id consectetur purus. Duis at tellus at urna condimentum
            mattis pellentesque id nibh. Elementum facilisis leo vel fringilla
            est ullamcorper eget nulla. Magna ac placerat vestibulum lectus
            mauris ultrices eros in cursus. Nec tincidunt praesent semper
            feugiat nibh sed. Sed blandit libero volutpat sed cras.
          </p>
          <p>
            Lacus suspendisse faucibus interdum posuere lorem ipsum dolor sit.
            Velit euismod in pellentesque massa placerat. Gravida quis blandit
            turpis cursus. Ultricies tristique nulla aliquet enim tortor at
            auctor. Consequat ac felis donec et odio. Risus in hendrerit gravida
            rutrum quisque non tellus orci. Lectus vestibulum mattis ullamcorper
            velit sed ullamcorper morbi tincidunt ornare. Est ante in nibh
            mauris cursus. Mauris ultrices eros in cursus turpis. Habitasse
            platea dictumst quisque sagittis purus sit amet volutpat consequat.
            Tempor orci eu lobortis elementum nibh tellus molestie. Eget mauris
            pharetra et ultrices neque. Quis ipsum suspendisse ultrices gravida
            dictum fusce. Nisi lacus sed viverra tellus in hac habitasse platea
            dictumst.
          </p>
        </div>
      </section>
      <aside>
        <div class="sidebar">
          <h2>Popular News</h2>
          <div class="post">
            <h3>
              <a href="#"><strong>Article Title</strong> </a>
            </h3>
            <a href="#">
              <img
                src="../images/headline news/headline apple.jpeg"
                alt=""
                class="bordered"
              />
            </a>
            <p>
              Integer diam elit, condimentum ac semper ut, tincidunt non diam.
              Ut congue rutrum justo at commodo. Aenean euismod tincidunt lorem
              scelerisque euismod.
            </p>
            <a href="#" class="more">Read more &#187;</a>
          </div>
          <div class="content-separator"></div>
          <div class="post">
            <h3>
              <a href="#"><strong>Second Article Title</strong></a>
            </h3>
            <a href="#"
              ><img
                src="../images/headline news/headline apple.jpeg"
                alt=""
                class="bordered"
              />
            </a>
            <p>
              Sed congue lacinia leo, sed dignissim odio pharetra vel. Fusce a
              dignissim dui. Fusce semper porttitor enim dapibus venenatis.
            </p>
            <a href="#" class="more">Read more &#187;</a>
          </div>
          <div class="content-separator"></div>
          <div class="post">
            <h3>
              <a href="#"><strong>Third title</strong></a>
            </h3>
            <a href="#">
              <img
                src="../images/headline news/headline apple.jpeg"
                alt=""
                class="bordered"
              />
            </a>
            <p>
              Sed auctor hendrerit eros eu eleifend. Cras hendrerit iaculis
              sodales. Pellentesque interdum rhoncus magna.
            </p>
            <a href="#" class="more">Read more &#187;</a>
          </div>
        </div>
      </aside>
      <div class="related-stocks-container">
        <h2>Related Stocks</h2>
        <div class="related-stocks">
          <div class="col-left">
            <div class="column-content">
              <div class="post">
                <a href="#">
                  <img
                    src="../images/headline news/headline apple.jpeg"
                    alt=""
                    class="bordered"
                  />
                </a>
                <h4><a href="#">Curabitur justo arcu</a></h4>
              </div>
            </div>
          </div>
          <div class="col-mid">
            <div class="column-content">
              <div class="post">
                <a href="#">
                  <img
                    src="../images/headline news/headline apple.jpeg"
                    alt=""
                    class="bordered"
                  />
                </a>
                <h4><a href="#">Donec sodales</a></h4>
              </div>
            </div>
          </div>
          <div class="col-right">
            <div class="column-content">
              <div class="post">
                <a href="#">
                  <img
                    src="../images/headline news/headline apple.jpeg"
                    alt=""
                    class="bordered"
                  />
                </a>
                <h4><a href="#">Donec rhoncus</a></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-container">
        <div class="features-container">
          <h3>Social Media</h3>
        </div>
        <div class="copyright-container">
          <p>&copy 2024 SahamInpuh.</p>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="../Scripts/script.js"></script>
  </body>
</html>
