<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../Styles/news-view.css" />
    <link rel="stylesheet" href="../Styles/navbar-responsive-use.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body>
    <header id="main-header">
      <div class="header-backdrop">
        <div class="header-container">
          <div class="header-logo-area">
            <a href="index.html" class="header-logo-link">
              <!-- <span class="header-logo"> -->
              <img
                src="../images/logo/Green Logo SahaminPuh.svg"
                alt="logo sahaminpuh" />
              <!-- </span> -->
              <span class="header-text">
                <h2>SahamInpuh</h2>
              </span>
            </a>
          </div>
          <div class="header-middle-area">
            <nav class="menu-area">
              <ul class="header-menu">
                <li><a href="news.html">News</a></li>
                <li><a href="saham.html">SahamInfo</a></li>
                <li><a href="kalkulator.html">Kalkulator</a></li>
                <li><a href="about.html">About</a></li>
              </ul>
            </nav>
          </div>
          <div class="header-button-area">
            <div id="nav-list-button" class="nav-list-button">
              <i class="fa fa-bars" style="font-size: 24px"></i>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main>
      <section class="news-content">
        <div class="post-title">
          <h1><strong>Infokan Saham Termantap Puh 🙏</strong></h1>
        </div>
        <div class="post-date">25:00, Rabu, 3 April, 2024</div>
        <div class="post-body">
          <div class="news-image-container">
            <a href="#">
              <img
                src="../images/bg/bg1 sahaminpuh.jpeg"
                alt=""
                class="bordered" />
            </a>
          </div>
          <p>
            Pasar saham di Indonesia terus mengalami fluktuasi yang menarik perhatian para investor. Dalam beberapa bulan terakhir, saham bank menjadi sorotan utama. Bank-bank besar seperti Bank Mandiri, Bank Central Asia (BCA), dan Bank Rakyat Indonesia (BRI) melaporkan kinerja yang menggembirakan. Saham-saham ini mengalami kenaikan signifikan, menandakan kepercayaan investor terhadap sektor perbankan.
          </p>
          <p>
            Bank Mandiri berhasil mempertahankan posisinya sebagai salah satu bank terbesar di Indonesia. Dengan portofolio yang kuat dan layanan yang inovatif, mereka berhasil menarik minat investor. BCA, yang dikenal sebagai bank swasta terbesar, juga mencatat pertumbuhan yang mengesankan. Kinerja keuangan yang baik menjadi daya tarik bagi investor yang mencari stabilitas dan potensi keuntungan.
          </p>
          <p>
            Beberapa faktor yang mempengaruhi pergerakan saham bank di Indonesia
            adalah:
            <br />
            <ul>
              <li>Kinerja Keuangan: Bank-bank terkemuka mencatat pertumbuhan laba yang stabil. Kinerja keuangan yang baik menjadi daya tarik bagi investor. BRI, misalnya, berhasil meningkatkan laba bersihnya pada kuartal terakhir.</li>
              <li>Suku Bunga: Kebijakan suku bunga oleh Bank Indonesia memengaruhi margin keuntungan bank. Investor memantau perubahan suku bunga dengan cermat. BCA dan Bank Mandiri telah menyesuaikan strategi mereka dengan perubahan ini.</li>
              <li>Regulasi: Perubahan regulasi sektor perbankan juga berdampak pada pergerakan saham. Investor harus memahami peraturan yang berlaku. Bank Mandiri dan BCA aktif beradaptasi dengan perubahan ini.</li>
            </ul>
          </p>
          <p>
            Para analis memperkirakan bahwa saham bank di Indonesia akan terus menunjukkan pertumbuhan positif. Dengan pemulihan ekonomi dan dukungan dari pemerintah, sektor perbankan diharapkan tetap menjadi pilihan menarik bagi investor. Bagi yang tertarik berinvestasi, memahami tren dan risiko di pasar saham sangat penting.
          </p>
        </div>
      </section>
      <aside>
        <div class="sidebar">
          <h2>Popular News</h2>
          <div class="post">
            <h3>
              <a href="#"><strong>EUR/USD: Euro Slow to Power Up After Three Weeks of Losses
                Pressure Rate Under $1.08</strong> </a>
            </h3>
            <a href="#">
              <img
                src="../images/headline news/headline apple.jpeg"
                alt=""
                class="bordered" />
            </a>
            <p>
              Integer diam elit, condimentum ac semper ut, tincidunt non diam.
              Ut congue rutrum justo at commodo. Aenean euismod tincidunt lorem
              scelerisque euismod.
            </p>
            <a href="#" class="more">Read more &#187;</a>
          </div>
          <div class="content-separator"></div>
          <div class="post">
            <h3>
              <a href="#"><strong>GBP/USD: Sterling Tumbles to $1.2530 in Third Straight
                Losing Day, Crosses 200-Day SMA</strong></a>
            </h3>
            <a href="#"
              ><img
                src="../images/headline news/headline apple.jpeg"
                alt=""
                class="bordered" />
            </a>
            <p>
              Sed congue lacinia leo, sed dignissim odio pharetra vel. Fusce a
              dignissim dui. Fusce semper porttitor enim dapibus venenatis.
            </p>
            <a href="#" class="more">Read more &#187;</a>
          </div>
          <div class="content-separator"></div>
          <div class="post">
            <h3>
              <a href="#"><strong>XAU/USD: Gold Scales Down from Record High of $2,265 as
                Dollar Bulls Kick Off April Deals</strong></a>
            </h3>
            <a href="#">
              <img
                src="../images/headline news/headline apple.jpeg"
                alt=""
                class="bordered" />
            </a>
            <p>
              Sed auctor hendrerit eros eu eleifend. Cras hendrerit iaculis
              sodales. Pellentesque interdum rhoncus magna.
            </p>
            <a href="#" class="more">Read more &#187;</a>
          </div>
        </div>
      </aside>
      <div class="related-stocks-container">
        <h2>Related Stocks</h2>
        <div class="related-stocks">
          <div class="col-left">
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>

              <script
                type="text/javascript"
                src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js"
                async>
                  {
                  "symbol": "IDX:BBRI",
                  "width": "100%",
                  "isTransparent": false,
                  "colorTheme": "light",
                  "locale": "en"
                }
              </script>
            </div>
          </div>
          <div class="col-mid">
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>

              <script
                type="text/javascript"
                src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js"
                async>
                  {
                  "symbol": "IDX:BBNI",
                  "width": "100%",
                  "isTransparent": false,
                  "colorTheme": "light",
                  "locale": "en"
                }
              </script>
            </div>
          </div>
          <div class="col-right">
            <div class="tradingview-widget-container">
              <div class="tradingview-widget-container__widget"></div>

              <script
                type="text/javascript"
                src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js"
                async>
                  {
                  "symbol": "IDX:BBCA",
                  "width": "100%",
                  "isTransparent": false,
                  "colorTheme": "light",
                  "locale": "en"
                }
              </script>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer-container">
        <div class="features-container">
          <h3>Social Media</h3>
        </div>
        <div class="copyright-container">
          <p>&copy 2024 SahamInpuh.</p>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="../Scripts/script.js"></script>
  </body>
</html>
