<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Styles/news.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script type="text/javascript" src="../Scripts/script.js"></script>
    <title>Financial News</title>
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="header-logo-area">
          <ul>
            <li>
              <a href="">
                <svg
                  width="20"
                  viewBox="0 0 99 168"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    fill-rule="evenodd"
                    clip-rule="evenodd"
                    d="M99 64.5H87C87 55.5 85.5 54 72 40.5L49.5 18L27 40.5C19.5 48 12 55.5 12 64.5C12 72.3568 17.7157 77.9273 24.1574 84.2054C25.0947 85.1189 26.0473 86.0473 27 87L49.5 109.5L55.5 103.5L64.5 112.5L49.5 127.5L19.5 97.5C18.024 96.024 16.656 94.668 15.3885 93.4116C2.48727 80.6236 0 78.1582 0 64.5C0 49.5 1.5 48 19.5 30L49.5 0L79.5 30C91.7845 42.2845 96.3301 46.8301 98.0121 52.2623C99 55.453 99 58.9496 99 64.5ZM0 103.5H12C12 112.5 13.5 114 27 127.5L49.5 150L72 127.5C79.5 120 87 112.5 87 103.5C87 95.6432 81.2843 90.0727 74.8426 83.7946C73.9053 82.8811 72.9527 81.9527 72 81L49.5 58.5L43.5 64.5L34.5 55.5L49.5 40.5L79.5 70.5C80.976 71.976 82.344 73.332 83.6115 74.5884C96.5127 87.3764 99 89.8418 99 103.5C99 118.5 97.5 120 79.5 138L49.5 168L19.5 138C7.21549 125.715 2.66991 121.17 0.987936 115.738C0 112.547 0 109.05 0 103.5Z"
                    fill="#235E0E" />
                </svg>
                <span class="header-text" style="color: #0f6153">
                  <h2>SahamInpuh</h2>
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="menu-area">
          <nav>
            <ul class="header-menu" id="navChoose">
              <li><a href="#">News</a></li>
              <li><a href="#">SahamInfo</a></li>
              <li><a href="#">Kalkulator</a></li>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </nav>
        </div>
        <div class="header-button-area">
          <ul>
            <li>
              <a href="#" class="dark-mode">
                <img
                  src="../images/icons/moon-stars-fill.svg"
                  alt=""
                  width="24px" />
              </a>
            </li>
            <li>
              <a
                href="javascript:void(0);"
                class="menu-toggle"
                onclick="myFunction()">
                <i class="fa fa-bars" style="font-size: 24px"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <main id="main-content">
      <div class="container-main">
        <div class="news-landing-header">
          <div class="title-container">
            <h1 class="title-news">News</h1>
            <p class="description-title">
              Don't miss a trick with global real-time updates.
            </p>
          </div>
        </div>
        <div class="top-stories">
          <div class="wrapper-title-stories">
            <div class="container-title-stories">
              <h2 class="title-top-stories">Top Stories</h2>
            </div>
          </div>
          <div>
            <div class="grid-top-stories">
              <a hrel="#" class="card-news" style="order: 1">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">24 Maret 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news" />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                  </div>
                </article>
              </a>
              <a hrel="#" class="card-news" style="order: 2">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">24 Maret 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news" />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                  </div>
                </article>
              </a>
              <a hrel="#" class="card-news" style="order: 3">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">24 Maret 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news" />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                  </div>
                </article>
              </a>
              <a hrel="#" class="card-news" style="order: 4">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">24 Maret 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news" />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                  </div>
                </article>
              </a>
              <a hrel="#" class="card-news" style="order: 5">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">24 Maret 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news" />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                  </div>
                </article>
              </a>
              <a hrel="#" class="card-news" style="order: 6">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">24 Maret 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news" />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </div>
                  </div>
                </article>
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
