<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Styles/news.css" />
    <link rel="stylesheet" href="../Styles/landingPage.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Financial News</title>
  </head>
  <body>
    <header id="main-header">
      <div class="header-backdrop">
        <div class="header-container">
          <div class="header-logo-area">
            <a href="index.html" class="header-logo-link">
              <!-- <span class="header-logo"> -->
              <img
                src="../images/logo/Green Logo SahaminPuh.svg"
                alt="logo sahaminpuh"
              />
              <!-- </span> -->
              <span class="header-text">
                <h2>SahamInpuh</h2>
              </span>
            </a>
          </div>
          <div class="header-middle-area">
            <nav class="menu-area">
              <ul class="header-menu">
                <li><a href="news.html">News</a></li>
                <li><a href="saham.html">SahamInfo</a></li>
                <li><a href="kalkulator.html">Kalkulator</a></li>
                <li><a href="about.html">About</a></li>
              </ul>
            </nav>
          </div>
          <div class="header-button-area">
            <div id="nav-list-button" class="nav-list-button">
              <i class="fa fa-bars" style="font-size: 24px"></i>
            </div>
          </div>
        </div>
      </div>
    </header>
    <main id="main-content">
      <div class="container-main">
        <div class="news-landing-header">
          <div class="title-container">
            <h1 class="title-news">News</h1>
            <p class="description-title">
              Don't miss a trick with global real-time updates.
            </p>
          </div>
        </div>
        <div class="top-stories">
          <div class="wrapper-title-stories">
            <div class="container-title-stories">
              <h2 class="title-top-stories">Top Stories</h2>
            </div>
          </div>
          <div>
            <div class="grid-news-content">
              <a href="news-view.html" class="card-news" style="order: 1">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">4 April 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news" />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="TSLA: Tesla’s Shocking 30% First-Quarter Drop Wipes Out $40 Billion of Elon Musk’s Net Worth">
                      TSLA: Tesla’s Shocking 30% First-Quarter Drop Wipes Out $40 Billion of Elon Musk’s Net Worth
                    </div>
                  </div>
                </article>
              </a>
              <a href="news-view.html" class="card-news" style="order: 2">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">4 April 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news" />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="TSLA: Tesla Delivers Under 390,000 EVs in First Quarter, Sliding Below Estimates">
                      TSLA: Tesla Delivers Under 390,000 EVs in First Quarter, Sliding Below Estimates
                    </div>
                  </div>
                </article>
              </a>
              <a href="news-view.html" class="card-news" style="order: 3">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">4 April 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news" />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="EUR/USD: Euro Slow to Power Up After Three Weeks of Losses Pressure Rate Under $1.08">
                      EUR/USD: Euro Slow to Power Up After Three Weeks of Losses Pressure Rate Under $1.08
                    </div>
                  </div>
                </article>
              </a>
              <a href="news-view.html" class="card-news" style="order: 4">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">4 April 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news" />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="GBP/USD: Sterling Tumbles to $1.2530 in Third Straight Losing Day, Crosses 200-Day SMA">
                      GBP/USD: Sterling Tumbles to $1.2530 in Third Straight Losing Day, Crosses 200-Day SMA
                    </div>
                  </div>
                </article>
              </a>
              <a href="news-view.html" class="card-news" style="order: 5">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">4 April 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news" />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="SPX: S&P 500 Futures Kick Off April in Green After Solid 10% Gain in Bumper First Quarter">
                      SPX: S&P 500 Futures Kick Off April in Green After Solid 10% Gain in Bumper First Quarter
                    </div>
                  </div>
                </article>
              </a>
              <a href="news-view.html" class="card-news" style="order: 6">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">4 April 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news" />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="Intel Shares Slip After Breaking Out Foundry Business Results">
                      Intel Shares Slip After Breaking Out Foundry Business Results
                    </div>
                  </div>
                </article>
              </a>
              <a href="news-view.html" class="card-news" style="order: 7">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">4 April 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news" />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="Electronic Arts COO Laura Miele Sells 2,000 Shares">
                      Electronic Arts COO Laura Miele Sells 2,000 Shares
                    </div>
                  </div>
                </article>
              </a>
              <a href="news-view.html" class="card-news" style="order: 8">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">4 April 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news" />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="SMCI: Super Micro Stock Crowned as Best Performer in the S&P 500 for the First Quarter">
                      SMCI: Super Micro Stock Crowned as Best Performer in the S&P 500 for the First Quarter
                    </div>
                  </div>
                </article>
              </a>
              <a href="news-view.html" class="card-news" style="order: 9">
                <article class="card-exterior">
                  <div class="container-card-news">
                    <div class="header-card-news">
                      <span class="date-news">4 April 2024</span>
                    </div>
                    <div class="preview-card-news">
                      <picture class="picture-news">
                        <img
                          src="../images/headline news/headline apple.jpeg"
                          role="presentation"
                          loading="lazy"
                          class="image-news" />
                      </picture>
                    </div>
                    <div
                      class="apply-overflow-tooltip headline-card-news"
                      data-overflow-tooltip-text="XAU/USD: Gold Scales Down from Record High of $2,265 as Dollar Bulls Kick Off April Deals">
                      XAU/USD: Gold Scales Down from Record High of $2,265 as Dollar Bulls Kick Off April Deals
                    </div>
                  </div>
                </article>
              </a>
            </div>
          </div>
        </div>
        <div class="market-news">
          <div class="container-market-news">
            <div class="wrapper-title-market">
              <h2 class="title-market">
                <span class="i-no-break">
                  Market 
                  <span class="icon-arrow" role="img">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 11" width="6" height="11">
                      <path fill="currentColor" d="M1.6 10.96 0 9.66l3.26-3.7L0 2.26 1.6.96l4.4 5-4.4 5Z"></path>
                    </svg>
                  </span>
                </span>
              </h2>
            </div>
            <div class>
              <div>
                <div class="grid-news-content">
                  <a href="news-view.html" class="card-market" style="order: 1">
                    <article class="card-exterior">
                      <div class="container-card-market">
                        <div class="header-card-news">
                          <span class="date-news">4 April 2024 &#x2022;</span>
                          <span class="provider-news">Market Index</span>
                        </div>
                        <div
                          class="apply-overflow-tooltip headline-card-news"
                          data-overflow-tooltip-text="Short Selling: Webjet shorts are on the rise, Syrah short interest drops to six month low">
                          Short Selling: Webjet shorts are on the rise, Syrah short interest drops to six month low
                        </div>
                      </div>
                    </article>
                  </a>
                  <a href="news-view.html" class="card-market" style="order: 2">
                    <article class="card-exterior">
                      <div class="container-card-market">
                        <div class="header-card-news">
                          <span class="date-news">4 April 2024 &#x2022;</span>
                          <span class="provider-news">Dow Jones Newswire</span>
                        </div>
                        <div
                          class="apply-overflow-tooltip headline-card-news"
                          data-overflow-tooltip-text="Vanda Pharmaceuticals' Fanapt Gets FDA Approval for Bipolar I Disorder">
                          Vanda Pharmaceuticals' Fanapt Gets FDA Approval for Bipolar I Disorder
                        </div>
                      </div>
                    </article>
                  </a>
                  <a href="news-view.html" class="card-market" style="order: 3">
                    <article class="card-exterior">
                      <div class="container-card-market">
                        <div class="header-card-news">
                          <span class="date-news">4 April 2024 &#x2022;</span>
                          <span class="provider-news">Dow Jones Newswire</span>
                        </div>
                        <div
                          class="apply-overflow-tooltip headline-card-news"
                          data-overflow-tooltip-text="Energy Up on Deal Activity, Oil Gains — Energy Roundup">
                          Energy Up on Deal Activity, Oil Gains — Energy Roundup
                        </div>
                      </div>
                    </article>
                  </a>
                  <a href="news-view.html" class="card-market" style="order: 4">
                    <article class="card-exterior">
                      <div class="container-card-market">
                        <div class="header-card-news">
                          <span class="date-news">4 April 2024 &#x2022;</span>
                          <span class="provider-news">Dow Jones Newswire</span>
                        </div>
                        <div
                          class="apply-overflow-tooltip headline-card-news"
                          data-overflow-tooltip-text="US natural gas demand for LNG falls as Cheniere reduces output">
                          US natural gas demand for LNG falls as Cheniere reduces output
                        </div>
                      </div>
                    </article>
                  </a>
                  <a href="news-view.html" class="card-market" style="order: 5">
                    <article class="card-exterior">
                      <div class="container-card-market">
                        <div class="header-card-news">
                          <span class="date-news">4 April 2024 &#x2022;</span>
                          <span class="provider-news">Dow Jones Newswire</span>
                        </div>
                        <div
                          class="apply-overflow-tooltip headline-card-news"
                          data-overflow-tooltip-text="Materials Down as Traders Weight Fed Talk — Materials Roundup">
                          Materials Down as Traders Weight Fed Talk — Materials Roundup
                        </div>
                      </div>
                    </article>
                  </a>
                  <a href="news-view.html" class="card-market" style="order: 6">
                    <article class="card-exterior">
                      <div class="container-card-market">
                        <div class="header-card-news">
                          <span class="date-news">4 April 2024 &#x2022;</span>
                          <span class="provider-news">Dow Jones Newswire</span>
                        </div>
                        <div
                          class="apply-overflow-tooltip headline-card-news"
                          data-overflow-tooltip-text="Morning Wrap: ASX 200 to fall, Wall Street sinks on rate worries, Gold and oil prices trend higher">
                          Morning Wrap: ASX 200 to fall, Wall Street sinks on rate worries, Gold and oil prices trend higher
                        </div>
                      </div>
                    </article>
                  </a>
                  <a href="news-view.html" class="card-market" style="order: 7">
                    <article class="card-exterior">
                      <div class="container-card-market">
                        <div class="header-card-news">
                          <span class="date-news">4 April 2024 &#x2022;</span>
                          <span class="provider-news">Dow Jones Newswire</span>
                        </div>
                        <div
                          class="apply-overflow-tooltip headline-card-news"
                          data-overflow-tooltip-text="Australia shares set to open lower; NZ slips in early trade">
                          Australia shares set to open lower; NZ slips in early trade
                        </div>
                      </div>
                    </article>
                  </a>
                  <a href="news-view.html" class="card-market" style="order: 8">
                    <article class="card-exterior">
                      <div class="container-card-market">
                        <div class="header-card-news">
                          <span class="date-news">4 April 2024 &#x2022;</span>
                          <span class="provider-news">Dow Jones Newswire</span>
                        </div>
                        <div
                          class="apply-overflow-tooltip headline-card-news"
                          data-overflow-tooltip-text="AI company Luminance raises $40 mln as contracts tech investment booms">
                          AI company Luminance raises $40 mln as contracts tech investment booms
                        </div>
                      </div>
                    </article>
                  </a>
                  <a href="news-view.html" class="card-market" style="order: 9">
                    <article class="card-exterior">
                      <div class="container-card-market">
                        <div class="header-card-news">
                          <span class="date-news">4 April 2024 &#x2022;</span>
                          <span class="provider-news">Dow Jones Newswire</span>
                        </div>
                        <div
                          class="apply-overflow-tooltip headline-card-news"
                          data-overflow-tooltip-text="Consumer Cos Down on Growth Doubts — Consumer Roundup">
                          Consumer Cos Down on Growth Doubts — Consumer Roundup
                        </div>
                      </div>
                    </article>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script type="text/javascript" src="../Scripts/script.js"></script>
  </body>
</html>
