<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stock Viewer</title>
    <link rel="stylesheet" type="text/css" href="../Styles/saham.css" />
    <link rel="stylesheet" href="../Styles/navbar-responsive-use.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  </head>
  <body>
    <!-- TradingView Widget BEGIN -->
    <div class="container">
      <header id="main-header">
        <div class="header-backdrop">
          <div class="header-container">
            <div class="container-ribbon-saham"></div>
            <div class="header-logo-area">
              <a href="index.html" class="header-logo-link">
                <!-- <span class="header-logo"> -->
                <img
                  src="../images/logo/Green Logo SahaminPuh.svg"
                  alt="logo sahaminpuh" />
                <!-- </span> -->
                <span class="header-text">
                  <h2>SahamInpuh</h2>
                </span>
              </a>
            </div>
            <div class="header-middle-area">
              <nav class="menu-area">
                <ul class="header-menu">
                  <li><a href="news.html">News</a></li>
                  <li><a href="saham.html">SahamInfo</a></li>
                  <li><a href="kalkulator.html">Kalkulator</a></li>
                  <li><a href="about.html">About</a></li>
                </ul>
              </nav>
            </div>
            <div class="header-button-area">
              <div id="nav-list-button" class="nav-list-button">
                <i class="fa fa-bars" style="font-size: 24px"></i>
              </div>
            </div>
          </div>
        </div>
      </header>
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>

        <script
          type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
          async>
            {
            "symbols": [
              {
                "proName": "IDX:UNVR",
                "title": "Unilever Indonesia Tbk."
              },
              {
                "proName": "IDX:HMSP",
                "title": "PT HM Sampoerna Tbk."
              },
              {
                "proName": "IDX:BBNI",
                "title": "PT Bank Negara Indonesia (Persero) Tbk."
              },
              {
                "proName": "IDX:BBCA",
                "title": "PT Bank Central Asia Tbk."
              },
              {
                "proName": "IDX:BBRI",
                "title": "PT Bank Rakyat Indonesia (Persero) Tbk."
              },
              {
                "proName": "IDX:TLKM",
                "title": "PT Telekomunikasi Indonesia Tbk."
              },
              {
                "proName": "IDX:ASII",
                "title": "PT Astra International Tbk."
              },
              {
                "proName": "IDX:UNTR",
                "title": "PT United Tractors Tbk."
              },
              {
                "proName": "IDX:MNCN",
                "title": "PT Media Nusantara Citra Tbk."
              },
              {
                "proName": "IDX:BMRI",
                "title": "PT Bank Mandiri (Persero) Tbk."
              }
            ],
            "showSymbolLogo": true,
            "isTransparent": false,
            "displayMode": "adaptive",
            "colorTheme": "light",
            "locale": "en"
          }
        </script>
      </div>
      <!-- TradingView Widget END -->

      <div class="container-saham">
        <!-- TradingView Widget BEGIN -->
        <div
          class="tradingview-widget-container"
          style="height: 100%; width: 100%">
          <div
            class="tradingview-widget-container__widget"
            style="height: calc(100% - 32px); width: 100%"></div>

          <script
            type="text/javascript"
            src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js"
            async>
              {
              "container_id": "watchlist-chart-demo",
              "width": "100%",
              "height": "100%",
              "autosize": true,
              "symbol": "IDX:COMPOSITE",
              "interval": "D",
              "timezone": "exchange",
              "theme": "light",
              "style": "1",
              "withdateranges": true,
              "allow_symbol_change": true,
              "save_image": false,
              "watchlist": [
                "BBCA",
                "BBRI",
                "BBNI",
                "BBRI",
                "UNVR",
                "TLKM",
                "ASII",
                "BMRI",
                "CPIN",
                "KLBF",
                "PGAS",
                "SMGR",
                "UNTR",
                "TLKM",
                "INDF",
                "AALI",
                "ADHI",
                "AKRA",
                "ANTM",
                "ASII",
                "ASRI",
                "BBNI",
                "BBRI",
                "BMRI",
                "BSDE",
                "CPIN",
                "DOID",
                "ELSA",
                "ERAA",
                "GGRM",
                "HMSP",
                "ICBP",
                "INCO",
                "INDF",
                "INDY",
                "INIS",
                "INTP",
                "ITMG",
                "JPFA",
                "JSMR",
                "KLBF",
                "LPKR",
                "LSIP",
                "LPPF",
                "MEDC",
                "MNCN",
                "PGAS",
                "PTBA",
                "PTPP",
                "PWON",
                "ROTI",
                "SCMA",
                "SMGR",
                "SRIL",
                "TINS",
                "TKIM",
                "TLKM",
                "TPIA",
                "UNTR",
                "UNVR",
                "WIKA",
                "WSBP"
              ]
            }
          </script>
        </div>
      </div>
    </div>

    <!-- TradingView Widget END -->
    <div class="tweeter-sentiment">
      <h3>Sentiment Analaysis X</h3>
      <div class="sentiment-container">
        <div class="tweeter-sentiment-container">
          <h4>Menurut Sentiment Analaysis X Untuk Saham BBCA</h4>
          <h4>15 % Di Akhir Tahun Ini</h4>
        </div>
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
          <div class="tradingview-widget-container__widget"></div>

          <script
            type="text/javascript"
            src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js"
            async>
              {
              "symbol": "IDX:BBCA",
              "width": "100%",
              "isTransparent": false,
              "colorTheme": "light",
              "locale": "en"
            }
          </script>
        </div>
        <!-- TradingView Widget END -->
      </div>
      <div class="sentiment-container">
        <div class="tweeter-sentiment-container">
          <h4>Menurut Sentiment Analaysis X Untuk Saham BBRI</h4>
          <h4>10 % Di Akhir Tahun Ini</h4>
        </div>
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
          <div class="tradingview-widget-container__widget"></div>

          <script
            type="text/javascript"
            src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js"
            async>
              {
              "symbol": "IDX:BBRI",
              "width": "100%",
              "isTransparent": false,
              "colorTheme": "light",
              "locale": "en"
            }
          </script>
        </div>
        <!-- TradingView Widget END -->
      </div>
      <div class="sentiment-container">
        <div class="tweeter-sentiment-container">
          <h4>Menurut Sentiment Analaysis X Untuk Saham TLKM</h4>
          <h4>15 % Di Akhir Tahun Ini</h4>
        </div>
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
          <div class="tradingview-widget-container__widget"></div>

          <script
            type="text/javascript"
            src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js"
            async>
              {
              "symbol": "IDX:TLKM",
              "width": "100%",
              "isTransparent": false,
              "colorTheme": "light",
              "locale": "en"
            }
          </script>
        </div>
        <!-- TradingView Widget END -->
      </div>
      <div class="sentiment-container">
        <div class="tweeter-sentiment-container">
          <h4>Menurut Sentiment Analaysis X Untuk Saham BBNI</h4>
          <h4>15 % Di Akhir Tahun Ini</h4>
        </div>
        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
          <div class="tradingview-widget-container__widget"></div>

          <script
            type="text/javascript"
            src="https://s3.tradingview.com/external-embedding/embed-widget-single-quote.js"
            async>
              {
              "symbol": "IDX:BBNI",
              "width": "100%",
              "isTransparent": false,
              "colorTheme": "light",
              "locale": "en"
            }
          </script>
        </div>
        <!-- TradingView Widget END -->
      </div>
    </div>
    <h3>Technical Analaysis</h3>

    <div class="container-technical">
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>

        <script
          type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js"
          async>
            {
            "interval": "1m",
            "width": 425,
            "isTransparent": false,
            "height": 425,
            "symbol": "IDX:COMPOSITE",
            "showIntervalTabs": true,
            "displayMode": "multiple",
            "locale": "en",
            "colorTheme": "light"
          }
        </script>
      </div>
      <!-- TradingView Widget END -->
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>

        <script
          type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js"
          async>
            {
            "interval": "1m",
            "width": 425,
            "isTransparent": false,
            "height": 425,
            "symbol": "BBCA",
            "showIntervalTabs": true,
            "displayMode": "multiple",
            "locale": "en",
            "colorTheme": "light"
          }
        </script>
      </div>
      <!-- TradingView Widget END -->
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>

        <script
          type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js"
          async>
            {
            "interval": "1m",
            "width": 425,
            "isTransparent": false,
            "height": 425,
            "symbol": "BBRI",
            "showIntervalTabs": true,
            "displayMode": "multiple",
            "locale": "en",
            "colorTheme": "light"
          }
        </script>
      </div>
      <!-- TradingView Widget END -->
      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container">
        <div class="tradingview-widget-container__widget"></div>

        <script
          type="text/javascript"
          src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js"
          async>
            {
            "interval": "1m",
            "width": 425,
            "isTransparent": false,
            "height": 425,
            "symbol": "TLKM",
            "showIntervalTabs": true,
            "displayMode": "multiple",
            "locale": "en",
            "colorTheme": "light"
          }
        </script>
      </div>
      <!-- TradingView Widget END -->
    </div>
    <footer>
      <div class="footer-container">
        <div class="features-container">
          <h3>Social Media</h3>
        </div>
        <div class="copyright-container">
          <p>&copy 2024 SahamInpuh.</p>
        </div>
      </div>
    </footer>
    <script type="text/javascript" src="../Scripts/script.js"></script>
  </body>
</html>
