body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* background-image: url(../images/bg/bg3\ sahaminpuh.png); */
  /* background-size: 100% 100%; */
}

/* ============================ MAIN CONTENT ============================ */
main {
  width: 100%;
}
main.darken {
  background-color: rgba(0, 0, 0, 0.6);
}
.main-container {
  /* border: 1px solid; */

  width: 86%;
  margin: 0 auto;
  justify-content: center;
}
.main-page {
  background-image: url(../images/about1.jpg);
  height: 50vh;
  background-size: cover;
  position: relative;
  z-index: 1;
  /*margin-top: 2rem;*/
}
.main-page h1 {
  text-align: center;
  position: relative;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 220%;
  z-index: 2;
  text-shadow: 2px 2px 4px rgba(231, 231, 231, 0.637);
}
.main-page p {
  text-align: center;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 150%;
  z-index: 2;
}

.main-container {
  display: absolute;
  top: 40%;
}

.about-page {
  width: 100%;
  display: flex;
}

.text-page {
  gap: 50px;
  width: 60%;
}

.img-page {
  width: 40%;
  height: 40%;
  padding-left: 20px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

footer {
  margin-top: 50px;
  background-color: #f8f9fa;
  padding: 20px 0;
}

.footer-container {
  max-width: 86%;
  margin: 0 auto;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}

.copyright-container {
  margin: 10px 0;
}

.copyright-container p {
  /* border: 1px solid; */
  color: #464646;
  margin: 0;
  text-align: center;
}
