body {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  /* background-image: url(../images/bg/bg3\ sahaminpuh.png); */
  /* background-size: 100% 100%; */
}

/* ========================== MAIN KALKULATOR ========================= */
main {
  width: 100%;
  margin-top: 13vh;
}

.kalkulator-container {
  width: 86%;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.container {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}
@media only screen and (max-width: 132vh) {
  .container {
    width: 90%;
  }
}
.hitung-container {
  text-align: left;
}
h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 10px;
}

p {
  color: #666;
  margin-bottom: 20px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #006352;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #00432e;
}
.hasil-hitung {
  width: 50%;
  margin: 0 auto;
  text-align: left;
}
@media only screen and (max-width: 511px) {
  .hasil-hitung {
    width: 90%;
  }
}

.hasil-hitung h3 {
  /* margin-top: 20px; */
  color: #333;
  display: inline-block;
  width: 50%;
  margin-right: 10px; /* Sesuaikan dengan jarak yang diinginkan antara h3 dan span */
}

.hasil-hitung span {
  font-weight: bold;
  color: #006352;
  display: inline-block;
  width: 40%;
}

/* ============================ FOOTER =================================== */

footer {
  bottom: 0;
  background-color: #f8f9fa;
  padding: 20px 0;
  margin-top: 3vh;
}
.footer-container {
  max-width: 86%;
  margin: 0 auto;
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
}
.copyright-container {
  margin: 10px 0;
}
.copyright-container p {
  color: #464646;
  margin: 0;
  text-align: center;
}
